<!DOCTYPE html>
<html>

<head>
	<title>
		Primer prototipo
	</title>
	<style>
		h1 {
			color: green;
		}
	</style>
</head>

<body>
	<center>

		<h1>Reto</h1>

		<button onclick="mostrarMensaje()">
		Empezar
		</button>
		
		<p id="pregunta"></p>
		<p id="output"></p>
		<p id="resultado"></p>

		<script>
			
			var myObj = JSON.parse('{"preguntas":[{"id":123,"q":"What??????"}, {"id":124,"q":"Why??????"}, {"id":125,"q":"Where??????"}]}');
			var i = 0;
			var http_request = new XMLHttpRequest();
			var the_object;
			var objRes = JSON.parse('{"respuestas":[]}');
			//var newStr = "";
			var url = ""; // Esta URL debería devolver datos JSON
			const xhr = new XMLHttpRequest();
			
			// Descarga los datos JSON del servidor.
			http_request.onreadystatechange = handle_json;
			http_request.open("GET", url, true);
			http_request.send(null);
			
			function handle_json() {
				if (http_request.readyState == 4) {
					if (http_request.status == 200) {
						var json_data = http_request.responseText; 
						//the_object = JSON.stringify(json_data);
						
						jQuery.each(the_object, crearBoton());
						

					} else {
						alert("Ocurrió un problema con la URL.");
					}
					http_request = null;
				}
			}

			function crearBoton(){
			}

			function mostrarMensaje() {
			
				document.getElementById("pregunta").innerHTML = myObj.preguntas[i].q;	
					
				var op1 = document.createElement("INPUT");
				op1.setAttribute("type", "radio");
				op1.setAttribute("id", "res1");
				op1.setAttribute("name", "opcion");
				op1.setAttribute("value", 0);
				document.body.appendChild(op1);
				document.getElementById("res1").after("Bueno");

				var op2 = document.createElement("INPUT");
				op2.setAttribute("type", "radio");
				op2.setAttribute("id", "res2");
				op2.setAttribute("name", "opcion");
				op2.setAttribute("value", 1);
				document.body.appendChild(op2);
				document.getElementById("res2").after("Neutro");

				var op3 = document.createElement("INPUT");
				op3.setAttribute("type", "radio");
				op3.setAttribute("id", "res3");
				op3.setAttribute("name", "opcion");
				op3.setAttribute("value", 2);
				document.body.appendChild(op3);
				document.getElementById("res3").after("Malo");
		
				var siguiente = document.createElement("BUTTON");
				var t = document.createTextNode("Siguiente");
				siguiente.appendChild(t);
				document.body.appendChild(siguiente);

				siguiente.addEventListener("click", () => {
					if(i < myObj.preguntas.length - 1){ 
						procesarResultado();
						document.getElementById("pregunta").innerHTML = nextItem();
					}
					else{
						procesarResultado();
						enviarResultado();
					}
				});

			}

			function nextItem() {
				i = i + 1; // increase i by one
				
				return myObj.preguntas[i].q; // give us back the item of where we are now
			}

			function enviarResultado(){
				document.getElementById("pregunta").textContent = "Reto terminado";
				
				xhr.onreadystatechange = mostrar_exito;
				xhr.open("POST", url, true);
				xhr.setRequestHeader('Content-Type', 'application/json');
				xhr.send(JSON.stringify(objRes));
				//document.getElementById("resultado").innerHTML = JSON.stringify(objRes);
			}

			function mostrar_exito(){
				if (xhr.readyState == 4) {
					if (xhr.status == 200) {
						document.getElementById("output").innerHTML = xhr.responseText; 
					} else {
						alert("Ocurrió un problema con la URL.");
					}
					http_request = null;
				}
			}


			function procesarResultado(){
				const radioButtons = document.querySelectorAll('input[name="opcion"]');
				
            	let selectedSize;
				for (const radioButton of radioButtons) {
					if (radioButton.checked) {
						selectedSize = radioButton.value;
						break;
					}
				}

				var newStr = '{"id":' + myObj.preguntas[i].id + ',"a":' + selectedSize + "}";
				//document.getElementById("str").innerHTML = newStr;
				objRes.respuestas[i] = JSON.parse(newStr);
				//document.getElementById("output").innerHTML = selectedSize ? `You selected ${selectedSize}` : `You haven't selected any size`;

			}

		</script>
	</center>
</body>

</html>